.content{
  width: 100%;
}
a{
  text-decoration: none!important;
}

.box{
  min-height: 800px;
  /*background-color: #dddddd;*/
}
.active{
  background-color: lightgrey;
  width: 250px;
}
img{
  width: 48px;
  height: 48px;
  margin-left: 10px;
}
li{
  /*margin: 45px 0px;*/
  margin: 30px 0;
  line-height: 48px;
  cursor: pointer;
}
a{
  color: black;
  text-decoration: none;
}
span{
  margin-left: 20px;
}
h1{
  margin-left: -70%;
}

