<div class="container cv">
  <div class="row box">
    <div class="col-md-3 col-lg-3 ">
      <div>
        <ul class="menu" >
          <li [class.active]="tab_index==index" (click)="tab_index=index" *ngFor="let item of tabs;let first=first;let index=index"><a role="tab" data-toggle="tab"><span>{{item.text}}</span></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-lg-9" [ngSwitch]="tab_index">

        <div role="tabpanel" *ngSwitchCase="0">
          <h1 style="text-align: center;" *ngIf="!_recomments">哇哦！</h1>
          <!--<h1 style="text-align: center;" *ngIf="!_comments">哇哦！</h1>-->
          <h1 style="text-align: center;" *ngIf="!_recomments">没有收到回复呢</h1>
          <!--<h1 style="text-align: center;" *ngIf="!_comments">没有收到回复呢</h1>-->
          <div *ngIf="_recomments">
            <div class="col-md-6">
              <app-bkcomitem [mainname]="mainname" [mainid]="mainid" [_recomment]="recomment" *ngFor="let recomment of _recomments" ></app-bkcomitem>
            </div>
          </div>
        </div>
        <!--=============================-->
        <div role="tabpanel" *ngSwitchCase="1">
          <h1 style="text-align: center;" *ngIf="!_artrecomments">哇哦！</h1>
          <h1 style="text-align: center;" *ngIf="!_artrecomments">没有收到回复呢</h1>
          <div *ngIf="_artrecomments">
            <div class="col-md-6">
              <app-artcomitem [mainname]="mainname" [mainid]="mainid" [_artrecomment]="artrecomment" *ngFor="let artrecomment of _artrecomments" ></app-artcomitem>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
