.content{
  height: 185px;
  width: 275px;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  color: #333;
}
.content i{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #e8e8e8;
}
.content i:hover{
  color: #333;
  cursor: pointer;
}
