<div style="height: 1150px">


<input type="text" class="article_title" placeholder="请输入文章标题" name="articleTitle" [(ngModel)]="article_title">
<div>
  <app-publish (onPostData)="PostData($event)"></app-publish>

    <div class="btn_pub"><button (click)="publishTopic(callback)" class="btn">发表文章</button></div>
    <!--<div class="text-danger" *ngIf="tel.errors.required">-->
    <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>-->
    <!--发表成功!-->
    <!--</div>-->
    <!--<div class="text-danger" *ngIf="tel.errors.required">-->
    <!--<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>-->
    <!--发表失败,请重新发表!-->
    <!--</div>-->

</div>
</div>

<!--<div style="width: 800px;margin: 0 auto;" [innerHTML]="article[0][0]?.article_content"></div>-->











