#upload_form{
  position: relative;
}

#newUpload{
  width: 320px;
  height: 240px;
  background-color: red;
  position: absolute;
  top: 120px;
  right: 65px;
  display: block;
  z-index: 2;
  opacity: 0;
}
#preview{
  width: 320px;
  height: 240px;
  background-color: red;
  position: absolute;
  top: 120px;
  right: 65px;
}
#preview img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  /*显示全景*/
  /*object-fit:contain;*/
}

.art_img{
  position: absolute;
  right: 260px;
  top: 92px;
  font-size: 18px;
}




.main{
  position: relative;
}

.select_topic{
  position: absolute;
  /*border: 1px red solid;*/
  left: 80%;
  width: 160px;
  height: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.article_title{
  text-align: center;
  width: 100%;
  padding: 0 30px 10px 40px;
  margin-bottom: 0;
  border-bottom: 1px solid #d9d9d9;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0;
  box-shadow: none;
  height: 60px;

  outline: none;
  -webkit-appearance: none;
  box-sizing: border-box;

}

.btn_pub{
  margin: 0 auto;
  text-align: center;

}

.btn_pub .btn{
  width: 200px;
  height: 40px;
  line-height: 24px;
  margin: 8px 15px 0;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  background-color: #ea6f5a;
  cursor: pointer;
}



