  <div class="article_container">
      <h1><b>{{article[0][0]?.article_title}}</b></h1>
      <div  class="middle">
        <div  class="author">
          <a href="" class="icon">
            <img src="http://10.40.4.34:3001/userhead/{{article[0][0]?.user_head}}" alt="">
          </a>
        </div>
        <div class="informal">
        <span class="meta">
          <a href="">作者</a>
        </span>
          <a href="" class="name">{{article[0][0]?.user_name}}</a>
          <span class="attent">+关注</span>
          <br>
          <span class="publish_date">{{article[0][0]?.article_time}}</span>
        </div>
      </div>

      <div class="showarticle" [innerHTML]="article[0][0]?.article_content"></div>


      <!--<div  class="bottom">-->
        <!--<div  class="left">-->
          <!--<div  class="author">-->
            <!--<a href="" class="icon">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="informal">-->
               <!--<span class="meta">-->
               <!--<a href="">作者</a>-->
               <!--</span>-->
            <!--<a href="" class="name">晴子</a>-->
            <!--<br>-->
            <!--<span class="publish_date">2017-09-18</span>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div  class="right">-->
          <!--<button class="btn">+关注</button>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="support-author">-->
        <!--<p>如果觉得我的文章对您有用，请随意赞赏，你的赞赏将鼓励我的创作</p>-->
        <!--<div class="btn-pay">赞赏支持</div>-->
        <!--<div class="supporter">-->
          <!--<ul class="support-list">-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
            <!--<li><a href="">-->
              <!--<img src="./../../assets/images/user_icon.jpg" alt="">-->
            <!--</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <div  class="comment-self">
            <a href="" style="float: left;display: block"><img style="height: 40px;width: 40px" src="./../../assets/images/user_icon.jpg" alt=""></a>
            <textarea placeholder="写下你的评论..." style="display:block;border: 1px red solid;float: right;margin-right: 20px"></textarea>
      </div>

      <div class="count">
          <div class="left">
            <span><b>61条评论</b></span>
            <button >只看作者</button>
          </div>
          <div class="right">
            <ul class="sort">
              <li><a href="">按喜欢排序</a></li>
              <li><a href="">按时间倒序</a></li>
              <li><a href="">按时间正序</a></li>
            </ul>
          </div>
      </div>


      <div>
        <app-article-comment></app-article-comment>
      </div>


  </div>




