<div class="container">
  <div class="row">
    <div >
      <h2><b>内蒙古呼和浩特行记（二）:别了，希拉穆仁</b></h2>
      <div  class="middle">
        <div  class="author">
          <a href="" class="icon">
            <img src="./../../assets/images/user_icon.jpg" alt="">
          </a>
        </div>
        <div class="informal">
        <span class="meta">
          <a href="">作者</a>
        </span>
          <a href="" class="name">晴子</a>
          <button>+关注</button>
          <br>
          <span class="publish_date">2017-09-18</span>
        </div>
      </div>

      <!--<div class="article" [innerHTML]="article[0][0]?.article_content">-->
      <!--<div style="width: 800px;margin: 0 auto;" [innerHTML]="article[0][0]?.article_content"></div>-->
      <div class="showarticle" [innerHTML]="article[0][0]?.article_content"></div>


      <div  class="bottom">
        <div  class="left">
          <div  class="author">
            <a href="" class="icon">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a>
          </div>
          <div class="informal">
               <span class="meta">
               <a href="">作者</a>
               </span>
            <a href="" class="name">晴子</a>
            <br>
            <span class="publish_date">2017-09-18</span>
          </div>
        </div>
        <div  class="right">
          <button class="btn">+关注</button>
        </div>
      </div>
      <div class="support-author">
        <p>如果觉得我的文章对您有用，请随意赞赏，你的赞赏将鼓励我的创作</p>
        <div class="btn-pay">赞赏支持</div>
        <div class="supporter">
          <ul class="support-list">
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
            <li><a href="">
              <img src="./../../assets/images/user_icon.jpg" alt="">
            </a></li>
          </ul>
        </div>
      </div>
      <div  class="comment-self">
        <div>
          <form>
            <a href=""><img style="height: 40px;width: 40px" src="./../../assets/images/user_icon.jpg" alt=""></a>
            <textarea placeholder="写下的评论..."></textarea>
          </form>
        </div>
        <div class="count">
          <div class="left">
            <span><b>61条评论</b></span>
            <button >只看作者</button>
          </div>
          <div class="right">
            <ul class="sort">
              <li><a href="">按喜欢排序</a></li>
              <li><a href="">按时间倒序</a></li>
              <li><a href="">按时间正序</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div>
        <app-article-comment></app-article-comment>
      </div>
    </div>

  </div>

</div>
