.showarticle{
  color: #2f2f2f;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  width: 800px;
  margin: 0 auto;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
div img{
  display: block;
  margin: 0 auto;
  text-align: center;
  /*max-width: 100%;*/
  /*height: auto;*/
  /*vertical-align: middle;*/
  /*border: 0;*/
  /*cursor: -webkit-zoom-in;*/
  /*transition: all .25s ease-in-out;*/
  /*padding-bottom: 25px;*/
  /*width: 700px;*/
  /*margin-left: -40px;*/


}
.middle{
  width: 100%;
  height: 135px;
  /*background-color: #5bc0de;*/
  padding: 40px 0px;
}
.author{
  float: left;
}
.informal{
  float: left;
  margin-left: 5px;
}
.author .icon{
  display: inline-block;
  width: 50px;
  height: 50px;
}
/*img{*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 50%;*/
/*}*/
.meta a{
  margin-right: 5px;
  padding: 2px 6px;
  color: #ea6f5a!important;
  border: 1px solid #ea6f5a;
  border-radius: 3px;
}
.meta a:hover{
  text-decoration: none;
  background: #fef7f5;
}
.name{
  font-size: 18px;
  color: #000;
}
.name:hover{
  text-decoration: none;
}
button{
  border-radius: 15px;
  width: 70px;
  height: 25px;
  background: #00a700;
  color: white;
}
.informal .publish_date{
  color: #969696;
}
.article>p{
  margin-top: 15px;
  font-size: 18px;
  color: #6c6c6c;
}
.bottom{
  padding: 25px 20px;
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  border: solid 1px #e1e1e1;
}
.bottom .btn{
  display: inline-block;
  float: right;
  bottom: 25px;
  border-radius: 20px;
  width: 110px;
  height: 40px;
  background: #009f00;
  color: white;

}
.bottom .left{

  float: left;
}
.bottom .right{

  float: right;
}
.support-author{
  height: 200px;
  width: 100%;
  /*background-color: #5bc0de;*/
  padding:30px 0 20px ;
  text-align: center;
  clear: both;
  box-sizing: border-box;
  /*border-bottom: 1px solid #e1e1e1;*/
}
.support-author>p{
  font-size: 16px;
}
.support-author .btn-pay{
  width: 110px;
  height: 40px;
  padding: 8px 25px;
  font-size: 14px;
  color: white;
  background-color: #ea6f5a;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  margin-left: 40%;
}
.supporter{
  height: 70px;
  padding: 10px;
}
.supporter .support-list{
  list-style: none;

}
li{
  display: inline-block;
  height: 35px;
  width: 35px;
  margin: 5px -5px;
}
.comment-self textarea{
  position: relative;
  left: 10px;
  padding: 10px 15px;
  width: 90%;
  height: 80px;
  font-size: 13px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: hsla(0,0%,71%,.1);
  resize: none;
  display: inline-block;
  vertical-align: top;
  outline-style: none;
}
.count{
  padding: 20px 0px;
}
.count .left{
  float: left;
}
.count .left>button{
  position: relative;
  left: 5px;
  background-color: white;
  border: solid 1px #969696;
  color:#969696 ;
}
.count .left>button:hover{
  color: white;
  background-color: #ea6f5a;
  border: solid 1px  #ea6f5a;
}
.count .right{
  float: right;
}
.sort>li{
  padding: 6px 0px;
  width: 80px;
  display: inline-block;
}
.sort>li>a{
  color: #969696;
}
.sort>li>a:hover{
  color: black;
  text-decoration: none;
}
