<!------------------------------------>
<!--模态框======================== ====-->
<div class="modal" *ngIf="modal_if"  [style.height]="full_height">
  <div class="modal_content" [style.top]="scroll_top">
    <p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" (click)="close()"></span></p>
    <!--<p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" ></span></p>-->
    <h2 style="margin: 40px 0px">还未登录，无法操作！</h2>
    <h4><a (click)="toLogin()">前往登录</a></h4>
  </div>
</div>

<!-------------------------------->

<div class="article_container">
      <h1><b>{{article?.article_title}}</b></h1>
      <div  class="middle">
        <div  class="author">
          <a (click)="togetuserid(article.user_id)" class="icon">
            <img src="http://10.40.4.34:3001/userhead/{{article?.user_head?article?.user_head:'girl.jpg'}}" alt="">
          </a>
        </div>
        <div class="informal">
        <span class="meta">
          <a >作者</a>
        </span>
          <a (click)="togetuserid(article.user_id)" class="name">{{article?.user_name}}</a>
          <br>
          <span class="publish_date">{{article?.article_time}}</span>
        </div>
      </div>
      <!--显示文章-->

      <!--<div class="showarticle" ></div>-->
      <!--<span class="showarticle" [innerHTML]="article?.article_content"></span>-->
      <div class="showarticle" ></div>


        <div class="meta-bottom">
          <!--收藏按钮-->
          <div class="collect">
            <!--<div class="btn collect_btn" (click)="changeBg()">-->
            <div ngClass="{{className}}" (click)="changeBg()">
              <div class="aixin"><a><i class="iconfont fa fa-heart-o"></i>{{collectName}}</a></div>
              <div class="aixin_num"><a>{{collectNum}}</a></div>
            </div>
          </div>
          <!--分享按钮-->
          <div class="share">
            <a class="share-circle" data-action="weixin-share" data-toggle="tooltip" data-origin-title="分享到微信">
              <i class="fa fa-weixin" aria-hidden="true" style="color:#00bb29;"></i>
            </a>
            <a class="share-circle" data-action="weibo-share" data-toggle="tooltip" data-origin-title="分享到微博">
              <i class="fa fa-weibo" aria-hidden="true" style="color: #e05244;"></i>
            </a>
            <!--<a class="share-circle"></a>-->
          </div>
        </div>
<!--=======================================-->
    <div class="comment" >

      <form #articlecommentForm="ngForm" >
        <textarea placeholder="写下你的评论..." class="articlecomment" rows="2" name="articlecomment" [(ngModel)]="articlecomment" required></textarea>
        <div>
          <button type="button" class="btn comment_btn" [disabled]="articlecommentForm.form.invalid" (click)="comment()">评 论</button>
        </div>
      </form>
      <div class="count" *ngIf="comments[0].length">
      <span class="left">共{{comments[0]?.artcom_num}}条评论</span>
        <div class="pull-right">
        <a class="active">点赞最多</a>
        <a class>收藏最多</a>
        <a class>最新发布</a>
        </div>
      </div>
      <ul *ngIf="comment_if" class="comment_ul2">
        <app-article-comment [_comment]="comment" *ngFor="let comment of comments"></app-article-comment>
      </ul>
    </div>
<!--============================================-->
  </div>




