<div class="container">
  <div class="row">
    <div class="detail">
      <img src="http://10.40.4.34:3001/bookimages/{{_book.book_img}}" alt="" class="bookicon">
      <div class="detail_content">
        <h1>{{_book.book_name}}</h1>
        <div class="button">
          <button class="buy" (click)="toPay()">购买 {{_book.book_price}}</button>
          <button class="buy" (click)="lovebook()"><i [class]="love_if?'fa fa-heart':'fa fa-heart-o'"></i> {{love_if?'取消喜欢':'喜欢此书'}}</button>
        </div>
        <p>作者：{{_book.writer_name}}</p>
        <p>副标题：{{_book.book_subhead}}</p>
        <p>出版年：{{_book.book_year}}</p>
        <p>类型：{{_book.book_tag}}</p>
        <span>作者简介：</span><p class="introduction author" [innerHtml]="_book.writer_content"></p>
        <span>内容简介：</span><p class="introduction" [innerHtml]="_book.book_content"></p>
      </div>
      <div class="sentence" *ngIf="beauty_if">
        <h3>美言佳句</h3>
        <app-sentence [_beauty]="beauty" *ngFor="let beauty of _beautys"></app-sentence>
      </div>
      <div class="comment">
        <h3>书友评论</h3>
        <form #bookcommentForm="ngForm">
          <textarea class="bookcomment" rows="2" name="bookcomment" [(ngModel)]="_bookcomment" required></textarea>
        </form>
        <div>
          <button type="button" class="btn comment_btn" [disabled]="bookcommentForm.form.invalid" (click)="comment()">评 论</button>
        </div>
        <ul *ngIf="comment_if">
          <p>全部评论 ({{_comments[0]?.bookcom_num}})</p>
          <app-bookcomment [_comment]="comment" *ngFor="let comment of _comments"></app-bookcomment>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="modal_if" [style.top]="scrollTop">
  <div class="modal_content">
    <p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" (click)="close()"></span></p>
    <h2 style="margin: 40px 0px">还未登录，无法操作！</h2>
    <h4><a (click)="toLogin()">前往登录</a></h4>
  </div>
</div>
