<div class="middle-middle">
  <!--显示从数据库请求来的数据-->
<div  *ngFor="let article of articles |slice:0:20"   class="middle-middle-article">
<div>
  <div  class="article-top">
    <a  class="touxiangimgcss" (click)="togetuserid(article?.user_id)">
      <img class="touxiangimg" src="http://localhost:3001/userhead/{{article?.user_head}}" />
    </a>
    <span class="authorcss" (click)="togetuserid(article?.user_id)">{{article?.user_name}}</span>
    <span class="timecss">{{article?.article_time}}</span>
  </div>

  <div  class="article-middle" >
    <h3><a id="biaotia" (click)="toArticleDetail(article?.article_id)">{{ article?.article_title}}</a></h3>
<!--//显示文章内容，管道stringSlice截取前100个字符-->
    <p class="showarticle" [innerHtml]="article?.article_content | stringSlice:100">
    </p>
  </div>

  <div class="article-bottom">
  <span id="myspan">   {{article?.topic_name}}</span>
    <span id=span2 aria-hidden="true"><i class="fa fa-comment"></i> {{article?.article_com?article?.article_com:'0'}}</span>
    <span id="span1" aria-hidden="true"><i class="fa fa-heart"></i> {{article?.article_collect?article?.article_collect:'0'}}</span>
  </div>

</div>
  <div><img  (click)="toArticleDetail(article?.article_id)" class="img" src="http://localhost:3001/articleimages/{{article?.article_img}}"></div>
</div>
</div>
