<div class="middle-middle">
  <!--显示从数据库请求来的数据-->
<div  *ngFor="let article of articles"   class="middle-middle-article">
<div>
  <div  class="article-top">
    <a  class="touxiangimgcss" (click)="togetuserid(article?.user_id)">
      <img class="touxiangimg" src="http://10.40.4.34:3001/userhead/{{article?.user_head}}" />
    </a>
    <span class="authorcss" (click)="togetuserid(article?.user_id)">{{article?.user_name}}</span>
    <span class="timecss">{{article?.article_time}}</span>
  </div>

  <div  class="article-middle" >
    <h3><a id="biaotia" (click)="toArticleDetail(article?.article_id)">{{ article?.article_title}}</a></h3>

    <p [innerHtml]="article?.article_content | stringSlice:100">

    </p>

  </div>

  <div class="article-bottom">
  <span id="myspan">   {{article?.topic_name}}</span>
    <span id=span2 class="glyphicon glyphicon-edit" aria-hidden="true">{{article?.article_com?article?.article_com:'0'}}</span>
    <span id="span1" class="glyphicon glyphicon-heart " aria-hidden="true">{{article?.article_collect?article?.article_collect:'0'}}</span>
  </div>

</div>
  <div><img class="img" src="http://10.40.4.34:3001/articleimages/{{article?.article_img}}"></div>
</div>
</div>
