<div class="middle-middle">
<div  *ngFor="let item of touxiang" class="middle-middle-article">
<div>
<div  class="article-top">
  <a  class="touxiangimgcss" href=""><img class="touxiangimg" src="{{item?.img}}" /></a>
<span class="authorcss">{{item?.author}}</span>
<span class="timecss">{{item?.time}}</span>
</div>
  <div  class="article-middle" >
    <h3><a id="biaotia" href="">{{ item?.biaoti}}</a></h3>
    <p>
    {{item?.duanluo}}
    </p>
  </div>

  <div class="article-bottom">
  <span>   {{item?.fenlei}}</span>
    <a class="glyphicon glyphicon-edit liuyan">   {{item?.commment}}</a>
    <span id="span1" class="glyphicon glyphicon-heart ">   {{item?.shoucang}}</span>
  </div>

</div>
  <div><img class="img" src= {{item?.articleimg}}></div>
</div>
</div>
