<div class="background">
  <img src="../../assets/images/logo_w.png" alt="" (click)="toIndex()">
  <h5>读书好，读好书，好读书</h5>
  <div class="content">
    <h4>会员注册</h4>
    <form class="form-horizontal" #registForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" name="registPhone" id="telephone" #tel="ngModel" [(ngModel)]="_telephone" pattern="^1[34578]\d{9}$" placeholder="手机号" required>
      </div>
      <div class="form-group" *ngIf="tel.invalid && (tel.dirty || tel.touched)">
        <div class="text-danger" *ngIf="tel.errors.required">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          手机号不能为空
        </div>
        <div class="text-danger" *ngIf="tel.errors.pattern">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          手机号格式不正确
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="username" name="registName" #username="ngModel" [(ngModel)]="_username" placeholder="用户名(2-8个汉字/4-16个字符)">
      </div>
      <div class="form-group" *ngIf="(username.invalid || usernameCheck()) && (username.dirty || username.touched)">
        <div class="text-danger">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          {{_username_error}}
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="registPasswd" id="password" minlength="6" maxlength="20" #pass="ngModel" [(ngModel)]="_password" placeholder="密码长度6-20" required>
      </div>
      <div class="form-group" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
        <div class="text-danger" *ngIf="pass.errors.required">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          密码不能为空
        </div>
        <div class="text-danger" *ngIf="pass.errors.minlength">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          密码长度6-20
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="confim_password" #confirm_pass="ngModel" [(ngModel)]="_confirm_password" id="password_confirm" placeholder="确认密码" required>
      </div>
      <div class="form-group" *ngIf="passwordCheck() && (confirm_pass.dirty || confirm_pass.touched)">
        <div class="text-danger">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          两次密码不一致
        </div>
      </div>
      <div class="form-group" *ngIf="regist_res_if">
        <div class="text-danger">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          {{regist_res}}
        </div>
      </div>
      <button type="button" id="btn_regist" class="btn" (click)="toRegist(registForm)" [disabled]="registForm.form.invalid">注册</button>
      <div class="form-group" style="text-align: right">已有账号，<a href="login">马上登录</a></div>
    </form>
  </div>
</div>
