.content{
  height: 150px;
  width: 270px;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  margin: 0 15px;
  margin-bottom: 20px;
  padding: 15px 20px;
  position: relative;
  color: #333;
  cursor: pointer;
}
.checked{
  height: 150px;
  width: 270px;
  border-radius: 20px;
  margin: 0 15px;
  margin-bottom: 20px;
  padding: 15px 20px;
  position: relative;
  color: #333;
  border: 2px solid #ea6f5a;
  cursor: pointer;
}
