ul{
  list-style: none ;
  margin-top: 20px;
}

ul li a{
  font-size: 15px;
  font-weight: 700;
  color: #969696;
  text-decoration: none;
}
.box{
width: 635px;
  height: 500px;
  background-color: #3db922;
}
