<div class="articleItem">
  <div class="col-md-8">
    <div class="author">
      <a (click)="togetuserid(_article.user_id)" class="icon">
        <img  src="http://10.40.4.34:3001/userhead/{{_article.user_head}}" alt="">
      </a>
      <a (click)="togetuserid(_article.user_id)" class="name">{{_article.user_name}}</a>
      <span>{{_article.article_time}}</span>
    </div>
    <a  (click)="toarticle(_article.article_id)" class="title">{{_article.article_title}}</a>
    <p  [innerHtml]="_article.article_content | stringSlice:160"></p>
    <div class="meta">
      <a>{{_article.topic_name}}</a>
      <span aria-hidden="true"><i class="fa fa-comment"></i> {{_article.article_com?_article.article_com:0}}</span>
      <span aria-hidden="true"><i class="fa fa-heart"></i> {{_article.article_collect?_article.article_collect:0}}</span>
    </div>
  </div>
  <div class="col-md-4">
    <img src="http://10.40.4.34:3001/articleimages/{{_article.article_img}}" alt="" width="100%" height="180px">
  </div>
  <div style="clear: both"></div>
</div>
