.topic{
  margin-top: 80px;
  border: solid 1px #e6e6e6;
  border-radius: 20px;
  text-align: center;
  background: #f8f8f8;
}
.topic:hover{
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
img{
  width: 100px;
  height: 100px;
  position: relative;
  top: -50px;
  border-radius: 10px;
  cursor: pointer;
}
.topic_content{
  height: 42px;
  width: 100%;
  overflow: hidden;
}
button{
  border-radius: 15px;
  width: 120px;
  height: 40px;
  background: green;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3{
  position: relative;
  top: -25px;
}
