
<div class="col-sm-6 col-md-4">
  <div class="topic">
    <img src="http://10.40.4.34:3001/topicimages/{{_topic.topic_img}}" (click)="toTdetail(_topic.topic_id)" alt="...">
    <div class="caption">
      <h3 style="cursor: pointer"><b (click)="toTdetail(_topic.topic_id)">{{_topic.topic_name}}</b></h3>
      <div class="topic_content" [innerHtml]="_topic.topic_content | stringSlice:30 "></div>
      <button class="btn">+关注</button>
      <hr>
      <p>{{_topic.article_num?_topic.article_num:0}}篇文章 | {{_topic.attent_num?_topic.attent_num:0}}人关注</p>
    </div>
  </div>
</div>
