/**{margin: 0;padding: 0}*/
/*body{*/
  /*overflow: hidden;*/
/*}*/
.background{
  background-image: url("../../assets/images/login_bg.jpg");
  width: 100%;
  height: 665px;
  background-size: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background>img:hover{
  cursor: pointer;
}
.background h5{
  color: #fff;
}
.content{
  width: 400px;
  height: 425px;
  background: #fff;
  /*background: rgba(0,0,0,0.6);*/
  padding: 0px 50px;
  border-radius: 5px;
  margin-top: 10px;
}
.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
  color: #000;
}
.background .content h4{
  width: 100%;
  height: 75px;
  line-height: 75px;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
  box-sizing:border-box;
}
.form-group a{
  float: right;
}
@media (min-width: 768px){
  .form-horizontal .control-label {
    padding-top: 0px;
  }
}
.form-horizontal{
  padding-top: 20px;
}
#btn_login{
  width: 100%;
  height: 50px;
  outline: 0;
  margin-top: 5px;
}
