<div class="background">
  <img src="../../assets/images/logo_w.png" alt="" (click)="toIndex()">
  <h5>读书好，读好书，好读书</h5>
  <div class="content">
    <h4>会员登录</h4>
    <form class="form-horizontal" #loginForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" name="loginPhone" id="login_phone" #tel="ngModel" [(ngModel)]="_telephone" pattern="^1[34578]\d{9}$" placeholder="手机号" required>
      </div>
      <div class="form-group" *ngIf="tel.invalid && (tel.dirty || tel.touched)">
        <div class="text-danger" *ngIf="tel.errors.required">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          手机号不能为空
        </div>
        <div class="text-danger" *ngIf="tel.errors.pattern">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          手机号格式不正确
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="loginPasswd" id="login_passwd" minlength="6" maxlength="20" #pass="ngModel" [(ngModel)]="_password" placeholder="密码" required>
      </div>
      <div class="form-group" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
        <div class="text-danger" *ngIf="pass.errors.required">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          密码不能为空
        </div>
        <div class="text-danger" *ngIf="pass.errors.minlength">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          密码长度6-20
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox">下次自动登录
        <a href="regist">新用户注册</a>
      </div>
      <div class="form-group">
        <button type="button" class="btn" id="btn_login" (click)="toLogin(loginForm)" [disabled]="loginForm.form.invalid">登 录</button>
        <!--测试用获取令牌-->
        <!--<button type="button" class="btn" id="btn_login" (click)="getAll()" [disabled]="loginForm.form.invalid">gwtAllusers</button>-->
      </div>
    </form>
  </div>
</div>
