


<div >
  <div class="top">
    <div class="topic">
      <span> <img src="http://101.132.127.138:3000/topicimages/{{_topic?.topic_img}}" alt="..."></span>
      <div class="txt">
        <b>{{_topic?.topic_name}}</b>
        <br>
        <span>{{_topic?.article_num?_topic.article_num:0}}篇文章 | {{_topic?.attent_num?_topic.attent_num:0}}人关注</span>
      </div>
    </div>
    <div class="right">
      <a (click)="ifLoginClick()"><button class="btn1">投稿</button></a>
      <button class="btn2" (click)="attentopic(_topic.topic_id)">{{attent_if?'取消关注':'+关注'}}</button>
    </div>
  </div>

</div>
