<div >
  <div class="top">
    <div class="topic">
      <span> <img src="./../../../assets/images/1.jpg" alt="..."></span>
      <div class="txt">
        <b>青春</b>
        <br>
        <span>{{_topic.article_acount}}篇文章 | {{_topic.comments_acount}}K人关注</span>
      </div>
    </div>
    <div class="btn">
      <button class="btn1">投稿</button>
      <button class="btn2">+关注</button>
    </div>
  </div>
  <div class="bottom">
    <ul>
      <li><img src="./../../../assets/images/chat_fill.png" style="width: 18px;height: 18px"><a href="">最新评论</a></li>
      <li><img src="./../../../assets/images/document_fill.png" style="width: 18px;height: 18px"><a href="">最新收录</a></li>
      <li><img src="./../../../assets/images/xhot.png" style="width: 18px;height: 18px"><a href="">热门</a></li>
    </ul>
  </div>
</div>
