<!--模态框======================== ====-->
<div class="modal" *ngIf="modal_if"  [style.height]="full_height">
  <div class="modal_content" [style.top]="scroll_top">
    <p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" (click)="close()"></span></p>
    <!--<p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" ></span></p>-->
    <h2 style="margin: 40px 0px">还未登录，无法操作！</h2>
    <h4><a (click)="toLogin()">前往登录</a></h4>
  </div>
</div>
<!--====================================-->
<nav class="navbar navbar-default nav_main">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="padding: 5px 70px 5px 30px">
        <a routerLink="/index"><img alt="友书" src="../../assets/images/logo_b.png" height="40px"></a>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/index">首页</a></li>
        <li class="dropdown" myStyleOther>
          <a routerLink="/find" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发现 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/booklist">书籍</a></li>
            <li><a routerLink="/topic">话题</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group search_main">
          <input type="text" name="search" class="form-control" placeholder="发现好书" [(ngModel)]="_search" maxlength="20" style="padding-right: 35px">
          <img class="search_btn" src="../../assets/img/search.png" width="30px" style="margin-left: -20px" (click)="toSearch()">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" myStyleOther *ngIf="isLogin"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 10px"><img class="person_center_img" src="http://10.40.4.34:3001/userhead/{{user?.user_head}}" ></a>
          <ul class="dropdown-menu">
            <li><a routerLink="personal-center/0" >{{user?.user_name}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="personal-center/1">喜欢书籍</a></li>
            <li><a routerLink="personal-center/2">关注话题</a></li>
            <li><a routerLink="personal-center/3">收藏文章</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="personal-center/4">我的订单</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="remove()">退出</a></li>
          </ul>
        </li>
        <li><a routerLink="login" *ngIf="!isLogin">登录</a></li>
        <li><a routerLink="regist" *ngIf="!isLogin">注册</a></li>
        <li><a routerLink={{login_if}} (click)="ifLoginClick()"><span class="glyphicon glyphicon-pencil" >发表文章</span></a></li>
        <!--<li><a routerLink="testpublish" (click)="ifLogin()"><span class="glyphicon glyphicon-pencil" >发表文章</span></a></li>-->
      </ul>
    </div>
  </div>
</nav>
