<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="person_all" style="margin-top: -30px">
  <div class="person_bg">
    <div style="margin-top: 50px;margin-left: 30px">
      <img src="../../assets/images/logo_g.png" alt="" (click)="toIndex()" style="cursor: pointer">
    </div>
  </div>
<div class="person_info">
  <div class="person_img">
    <img src="http://10.40.4.34:3001/userhead/{{_user.user_head}}" alt="" width="112" height="112">
    <input type="file" (change)="onFileChanged($event.target.files)" placeholder="Upload file" accept="image/jpg,image/jpeg,image/png" name="user_icon">
    <div class="black_img"><i class="fa fa-camera-retro fa-3x"></i></div>
  </div>
  <div class="person_name">
    <p>{{_user.user_name}}</p>
  </div>
  <div id="person_list">
    <ul class="nav nav-tabs" role="tablist" style="border: 0px">
      <li role="presentation" [class.active]="tab_index==index" (click)="tab_index=index" *ngFor="let item of tabs;let first=first;let index=index"><a role="tab" data-toggle="tab">{{item}}</a></li>
    </ul>
  </div>
</div>
  <div class="col-md-10 col-lg-10 col-md-offset-1" id="person_content">
    <div class="tab-content" [ngSwitch]="tab_index" >
      <div role="tabpanel" *ngSwitchCase="0">
        <app-personal-information [user]="_user"></app-personal-information>
      </div>
      <div role="tabpanel" *ngSwitchCase="1">
        <div class="col-md-2" *ngFor="let book of _books" style="text-align: center; margin-bottom: 20px;">
          <app-bookitem [_book]="book"></app-bookitem>
        </div>
      </div>
      <div role="tabpanel" *ngSwitchCase="2">
        <app-topic-list [_topic]="topic" *ngFor="let topic of _topics" (delattent)="delattent()"></app-topic-list>
        <div style="clear: both;"></div>
      </div>
      <div role="tabpanel" *ngSwitchCase="3">
        <app-articleitem [_article]="article" *ngFor="let article of _articles"></app-articleitem>
      </div>
      <div role="tabpanel" *ngSwitchCase="4">
        <app-orderitem [_order]="order" *ngFor="let order of _orders" (delOrder)="delOrder(order.order_id)"></app-orderitem>
      </div>
      <!--<div role="tabpanel" *ngSwitchDefault>消息列表</div>-->
    </div>
  </div>
  <div style="clear: both"></div>
</div>


