<div class="container ">
  <div class="row" style="margin-bottom: 20px">

    <!--热门话题的图片-->
    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ">
    <img src="../../assets/images/hot.png" alt="">
    </div>
  </div>
<!--话题列表-->
  <div class="row">
    <!--父传给子-->

    <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 ">
      <div class="row">
        <div  class=" col-md-10  col-lg-12">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"  [class.active]="tab_index==index" (click)="changeTab_index(index)"
                *ngFor="let item of tabs;
      let first=first;let index=index"><a role="tab" data-toggle="tab">{{item}}</a></li>
          </ul>
        </div>
        <!--//slice:截取每页的长度-->
        <!--<ng-container  *ngFor="let topic of _topics | slice:_pagesize*(page.curpage-1):_pagesize*page.curpage">-->
        <!--&lt;!&ndash;//_topic提取topic里面的信息&ndash;&gt;-->
        <!--<app-topic-list [_topic]="topic" ></app-topic-list>-->
        <!--</ng-container>-->

        <div class="tab-content" [ngSwitch]="tab_index" >
          <div role="tabpanel" *ngSwitchCase="0">
            <div *ngFor="let topic of _Marticle| slice:(_pagesize*(page.curpage-1)):(_pagesize*page.curpage)">
              <!--<div *ngFor="let topic of _Marticle| slice:_pagesize*(page.curpage-1):_pagesize*page.curpage">-->
              <app-topic-list [_topic]="topic" (zitanchu)="getData($event)"></app-topic-list>
            </div>
          </div>
          <div role="tabpanel" *ngSwitchCase="1">
            <div *ngFor="let topic of _Mattent| slice:(_pagesize*(page.curpage-1)):(_pagesize*page.curpage)">
              <!--<div *ngFor="let topic of _Mattent| slice:_pagesize*(page.curpage-1):_pagesize*page.curpage">-->
              <app-topic-list [_topic]="topic" (zitanchu)="getData($event)"></app-topic-list>
            </div>
          </div>
        </div>
        <!--分页==================================-->
      </div>
      <app-page [pages]="_pages" #page></app-page>
    </div>
  </div>
</div>

<!--模态框============================-->
<div class="modal" *ngIf="modal_if"  [style.height]="full_height">
  <div class="modal_content" [style.top]="scroll_top">
    <p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" (click)="close()"></span></p>
    <!--<p style="text-align: right; margin: 0"><span class="glyphicon glyphicon-remove" ></span></p>-->
    <h2 style="margin: 40px 0px">还未登录，无法操作！</h2>
    <h4><a (click)="toLogin()">前往登录</a></h4>
  </div>
</div>
<!--====================================-->
