<div class="container">
  <div class="row">
    <div class="sort">
      <div>
        <!--<span><a (click)="sort('小说','')">小说作品</a></span><br/>-->
        <span><a (click)="sort('小说','')" (mousedown)="sort('小说','')">小说作品</a></span><br/>
        <!--<a (click)="sort('小说/言情','')">言情小说</a>-->
        <a (click)="sort('小说/言情','')"  (mousedown)="sort('小说/言情','')">言情小说</a>
        <!--<a (click)="sort('小说/青春','')">青春文学</a>-->
        <a (click)="sort('小说/青春','')" (mousedown)="sort('小说/青春','')">青春文学</a>
        <!--<a (click)="sort('小说/武侠','')">武侠小说</a>-->
        <a (click)="sort('小说/武侠','')" (mousedown)="sort('小说/武侠','')">武侠小说</a>
        <!--<a (click)="sort('小说/科幻','小说/玄幻')">科幻玄幻</a>-->
        <a (click)="sort('小说/科幻','小说/玄幻')" (mousedown)="sort('小说/科幻','小说/玄幻')">科幻玄幻</a>
        <!--<a (click)="sort('小说/穿越','')">穿越架空</a>-->
        <a (click)="sort('小说/穿越','')" (mousedown)="sort('小说/穿越','')">穿越架空</a>
        <!--<a (click)="sort('小说/悬疑推理','')">悬疑推理</a>-->
        <a (click)="sort('小说/悬疑推理','')" (mousedown)="sort('小说/悬疑推理','')">悬疑推理</a>
        <!--<a (click)="sort('小说/恐怖惊悚','')">恐怖惊悚</a>-->
        <a (click)="sort('小说/恐怖惊悚','')" (mousedown)="sort('小说/恐怖惊悚','')">恐怖惊悚</a>
        <!--<a (click)="sort('小说/外国','')">外国小说</a>-->
        <a (click)="sort('小说/外国','')" (mousedown)="sort('小说/外国','')">外国小说</a>
      </div>
      <div>
        <!--<span><a (click)="sort('文学艺术','')">文学艺术</a></span><br/>-->
        <span><a (click)="sort('文学艺术','')" (mousedown)="sort('文学艺术','')">文学艺术</a></span><br/>
        <!--<a (click)="sort('文学艺术/散文随笔','')">散文随笔</a>-->
        <a (click)="sort('文学艺术/散文随笔','')" (mousedown)="sort('文学艺术/散文随笔','')">散文随笔</a>
        <!--<a (click)="sort('文学艺术/诗歌','')">诗歌作品</a>-->
        <a (click)="sort('文学艺术/诗歌','')" (mousedown)="sort('文学艺术/诗歌','')">诗歌作品</a>
        <!--<a (click)="sort('文学艺术/现代','文学艺术/当代')">现当代文学</a>-->
        <a (click)="sort('文学艺术/现代','文学艺术/当代')" (mousedown)="sort('文学艺术/现代','文学艺术/当代')">现当代文学</a>
        <!--<a (click)="sort('文学艺术/古典','')">古典文学</a>-->
        <a (click)="sort('文学艺术/古典','')" (mousedown)="sort('文学艺术/古典','')">古典文学</a>
        <!--<a (click)="sort('文学艺术/外国','')">外国文学</a>-->
        <a (click)="sort('文学艺术/外国','')" (mousedown)="sort('文学艺术/外国','')">外国文学</a>
        <!--<a (click)="sort('文学艺术/书法','文学艺术/绘画')">书法绘画</a>-->
        <a (click)="sort('文学艺术/书法','文学艺术/绘画')" (mousedown)="sort('文学艺术/书法','文学艺术/绘画')">书法绘画</a>
        <!--<a (click)="sort('文学艺术/摄影','文学艺术/影视')">摄影影视</a>-->
        <a (click)="sort('文学艺术/摄影','文学艺术/影视')" (mousedown)="sort('文学艺术/摄影','文学艺术/影视')">摄影影视</a>
        <!--<a (click)="sort('文学艺术/舞蹈','文学艺术/音乐')">舞蹈音乐</a>-->
        <a (click)="sort('文学艺术/舞蹈','文学艺术/音乐')" (mousedown)="sort('文学艺术/舞蹈','文学艺术/音乐')">舞蹈音乐</a>
      </div>
      <div>
        <!--<span><a (click)="sort('人文社科','')">人文社科</a></span><br/>-->
        <span><a (click)="sort('人文社科','')" (mousedown)="sort('人文社科','')">人文社科</a></span><br/>
        <!--<a (click)="sort('人文社科/人文','人文社科/历史')">人文历史</a>-->
        <a (click)="sort('人文社科/人文','人文社科/历史')" (mousedown)="sort('人文社科/人文','人文社科/历史')">人文历史</a>
        <!--<a (click)="sort('人文社科/人物传记','')">人物传记</a>-->
        <a (click)="sort('人文社科/人物传记','')" (mousedown)="sort('人文社科/人物传记','')">人物传记</a>
        <!--<a (click)="sort('人文社科/宗教','人文社科/哲学')">宗教哲学</a>-->
        <a (click)="sort('人文社科/宗教','人文社科/哲学')" (mousedown)="sort('人文社科/宗教','人文社科/哲学')">宗教哲学</a>
        <!--<a (click)="sort('人文社科/军事','人文社科/法律')">军事法律</a>-->
        <a (click)="sort('人文社科/军事','人文社科/法律')" (mousedown)="sort('人文社科/军事','人文社科/法律')">军事法律</a>
        <!--<a (click)="sort('人文社科/社会','')">社会学</a>-->
        <a (click)="sort('人文社科/社会','')" (mousedown)="sort('人文社科/社会','')">社会学</a>
        <!--<a (click)="sort('人文社科/政治','')">政治学</a>-->
        <a (click)="sort('人文社科/政治','')" (mousedown)="sort('人文社科/政治','')">政治学</a>
        <!--<a (click)="sort('人文社科/教育','')">教育学</a>-->
        <a (click)="sort('人文社科/教育','')" (mousedown)="sort('人文社科/教育','')">教育学</a>
        <!--<a (click)="sort('人文社科/心理','')">心理学</a>-->
        <a (click)="sort('人文社科/心理','')" (mousedown)="sort('人文社科/心理','')">心理学</a>
      </div>
      <div>
        <!--<span><a (click)="sort('品质生活','')">品质生活</a></span><br/>-->
        <span><a (click)="sort('品质生活','')" (mousedown)="sort('品质生活','')">品质生活</a></span><br/>
        <!--<a (click)="sort('品质生活/健康养生','')">健康养生</a>-->
        <a (click)="sort('品质生活/健康养生','')" (mousedown)="sort('品质生活/健康养生','')">健康养生</a>
        <!--<a (click)="sort('品质生活/时尚','品质生活/美容')">时尚美容</a>-->
        <a (click)="sort('品质生活/时尚','品质生活/美容')" (mousedown)="sort('品质生活/时尚','品质生活/美容')">时尚美容</a>
        <!--<a (click)="sort('品质生活/旅游','')">旅游风情</a>-->
        <a (click)="sort('品质生活/旅游','')" (mousedown)="sort('品质生活/旅游','')">旅游风情</a>
        <!--<a (click)="sort('品质生活/星座','品质生活/风水')">星座风水</a>-->
        <a (click)="sort('品质生活/星座','品质生活/风水')" (mousedown)="sort('品质生活/星座','品质生活/风水')">星座风水</a>
        <!--<a (click)="sort('品质生活/美食','')">烹调美食</a>-->
        <a (click)="sort('品质生活/美食','')" (mousedown)="sort('品质生活/美食','')">烹调美食</a>
      </div>
      <div>
        <!--<span><a (click)="sort('成功励志','')">成功励志</a></span><br/>-->
        <span><a (click)="sort('成功励志','')" (mousedown)="sort('成功励志','')">成功励志</a></span><br/>
        <!--<a (click)="sort('成功励志/职场','')">职场进修</a>-->
        <a (click)="sort('成功励志/职场','')" (mousedown)="sort('成功励志/职场','')">职场进修</a>
        <!--<a (click)="sort('成功励志/成长','成功励志/励志')">成长励志</a>-->
        <a (click)="sort('成功励志/成长','成功励志/励志')" (mousedown)="sort('成功励志/成长','成功励志/励志')">成长励志</a>
        <!--<a (click)="sort('成功励志/情商','')">情绪情商</a>-->
        <a (click)="sort('成功励志/情商','')" (mousedown)="sort('成功励志/情商','')">情绪情商</a>
        <!--<a (click)="sort('成功励志/智商','')">智商智谋</a>-->
        <a (click)="sort('成功励志/智商','')" (mousedown)="sort('成功励志/智商','')">智商智谋</a>
        <!--<a (click)="sort('成功励志/成功','')">成功学</a>-->
        <a (click)="sort('成功励志/成功','')" (mousedown)="sort('成功励志/成功','')">成功学</a>
      </div>
    </div>
    <div class="booklist_content">
      <app-booklist-bookitem class="bookitem" [_book]="book" *ngFor="let book of _books | findbook:[sortText,sortText2] | slice:(_pagesize*(page.curpage-1)):(_pagesize*page.curpage)"></app-booklist-bookitem>
    </div>
    <app-page [pages]="_pages" #page></app-page>
  </div>
</div>
