<div>
  <app-buystep></app-buystep>
</div>
<div class="pc-bottom-top">
  <span class="pc-bottom-top-left">书籍介绍</span>
  <span class="pc-bottom-top-right">价格</span>
</div>
<div class="pc-bottom-bottom">
  <div class="pc-bottom-bottom-left">
    <img class="bookimgcss" src="../../assets/img/book1.jpg">
    <div class="bm">
      <span>私语书</span><br>
      <span>黎歌</span>
    </div>


  </div>
  <div class=" pc-bottom-bottom-right">
    <span class="moneyspan">￥75</span>

  </div>

  <div class="bd">
    <button class="btn" (click)="toPaySecond()">提交订单</button>
  </div>
</div>


