<!--<img src="./../../../assets/images/book03.jpg" width="100%">-->
<div class="bannerContainer">
  <ul class="bannerPicList">
    <li [class.active]="currentPic==0"> <img src="http://localhost:3000/bookimages/{{every_books[0]?.book_img}}" width="100%"/></li>
    <li [class.active]="currentPic==1"> <img src="http://localhost:3000/bookimages/{{every_books[1]?.book_img}}" width="100%"/></li>
    <li [class.active]="currentPic==2"> <img src="http://localhost:3000/bookimages/{{every_books[2]?.book_img}}" width="100%"/></li>
    <li [class.active]="currentPic==3"> <img src="http://localhost:3000/bookimages/{{every_books[3]?.book_img}}" width="100%"/></li>
    <li [class.active]="currentPic==4"> <img src="http://localhost:3000/bookimages/{{every_books[4]?.book_img}}" width="100%"/></li>
  </ul>
  <p class="tag">每日一书</p>
  <h3>{{every_books[currentPic].book_name}}</h3>
  <p class="introduce" [innerHtml]="every_books[currentPic].book_content"></p>
  <div class="topicnav">
    <p class="tag">每日话题</p>
    <a (click)="toTopic()">更多话题</a>
  </div>
  <ul class="booklist">
    <li *ngFor="let topic of every_topics"><a (click)="toTopicDetail(topic.topic_id)">{{topic.topic_name}}</a></li>
  </ul>
</div>
