<div class="personal_information_container">
    <div class="detailed_information_tittle">
      <span>基本信息</span>
      <button class="touxiangbtn">保存</button>
    </div>
    <div class="detailed_information">
      <div class="telephone">
        <span class="telspan">手机号</span>
        <span class="telnumspan" >{{user.user_phone.slice(0,3)}}****{{user.user_phone.slice(8,11)}}</span>
      </div>
      <div class="personalIntroduce">
        <span class="personalIntroducespan">个人简介</span>
        <textarea rows="2" cols="70"></textarea>
      </div>
    </div>
    <div class="detailed_information_tittle" style="margin-top: 30px">
      <span>收货地址</span>
    </div>
    <div class="shouhuoaddressbox">
      <div class="shouhuoaddress">
        <app-address [_address]="address" *ngFor="let address of _addresses" (delAddress)="delAddress(address.receive_id)"></app-address>
        <div class="addaddress" *ngIf="add_if">
          <input type="text" placeholder="收件人姓名" name="receive_name" [(ngModel)]="receive_name">
          <input type="text" placeholder="收件人电话" name="receive_phone" [(ngModel)]="receive_phone">
          <textarea cols="30" placeholder="收货地址" name="receive_address" [(ngModel)]="receive_address" style="resize: none;"></textarea>
          <button class="touxiangbtn" (click)="addAddress()">保存</button>
        </div>
        <div class="addaddress" *ngIf="!add_if" (click)="showadd()" style="text-align: center;line-height: 185px;color: #e8e8e8">
          <i class="fa fa-plus fa-5x"></i>
        </div>
      </div>
    </div>
</div>
