<div class="pbg">
  <div class="personal_information_container">



    <div class="p_i_c_t">
      个人资料
    </div>
    <div class="p_i_c_t_touxiangbox">
      <input  class="filecss" type="file" title="支持jpg格式，文件小于10M">
      <img  class="p_i_c_t_touxiangimg" src="../../assets/images/boy.jpg" >
      <!--<img  class="change" src="../../assets/images/mr_headhover.png" />-->
      <div class="p_i_c_t_spanbox">
        <span>进击的小进进</span>
      </div>
    </div>
    <div class="detailed_information_tittle">
      <div class="detailed_information_tittle_left" >
        基本信息
      </div>
      <div class="detailed_information_tittle_right">
        <input type="button"  class="touxiangbtn" value="保存">
        <!--<button ></button>-->
      </div>

    </div>
    <div class="detailed_information">
      <form action="#">
        <div class="telephone">
          <span class="telspan">手机号</span>
          <span class="telnumspan" >183*****533</span>
        </div>
        <div class="sex">
          <span class="sexspan">性别</span>
          <span class="xuanxiang">
        <input  id="radio1" type="radio" value="nan" name="man">男
       <input id="radio2" type="radio" value="nv" name="women">女
        </span>
        </div>
        <div class="personalIntroduce">
          <span class="personalIntroducespan">个人简介</span> <input  class="introducetext" type="text">
          <div class="personalIntroduce_right">
            <input type="button"  class="touxiangbtn" value="保存">
            <!--<button ></button>-->
          </div>
        </div>

        <div class="shouhuoaddressbox">
          <span class="shouhuospan">收货地址</span>
          <div class="shouhuoaddress">
            <div class="addadress">
              <div>
                新增收货地址
              </div>
              <div class="name">
                <span id="namespan">收货人姓名</span> <input type="text">
              </div>
              <div class="shouhuotel">
                <span>手机号码</span> <input type="text">
              </div>
              <div class="area">
                <span>所在地区</span> <input type="text">
              </div>
              <div class="xiangxiad">
                <span>详细地址 </span><input type="text"><br>
              </div>

            </div>
            <div class="saveadress">
            <span  class="saveadressspan">
              已保存地址
            </span>
              <table class="saveadresstable">
                <tr class="trbc">
                  <td>收货人</td>
                  <td>所在地区</td>
                  <td>详细地址</td>
                  <td>手机</td>
                  <td>操作</td>
                </tr>
                <tr>
                  <td>陈进</td>
                  <td>江苏</td>
                  <td>江苏省苏州市仁爱路567号</td>
                  <td>183*****533</td>
                  <td><a href="">删除</a>|<a href="">修改</a></td>
                </tr>
              </table>
            </div>
          </div>

          <div class="personalIntroduce_right">
            <input type="button"  class="touxiangbtn" value="保存">
          </div>

        </div>

      </form>
    </div>

  </div>
</div>
