
<div *ngFor="let book of books " class="middle-middle-bookshow">
  <a (click)="toBookDetail(book?.book_id)" ><img class="img-css" src="http://10.40.4.34:3001/bookimages/{{book?.book_img}}" height="432" width="306"/></a>
  <span class="booksname-css"><a class="booka" (click)="toBookDetail(book?.book_id)">{{book?.book_name}}</a></span><br>
  <span class="author-css" >{{book?.writer_name}}</span>
  <span class="bookpubtimecss ">{{book?.book_year}}</span>
  <span id="book_commetcount " class="glyphicon glyphicon-heart ">{{book?.book_com}}</span>

</div>

