<div>
  <app-confirmstep></app-confirmstep>
</div>
<div class="pc-bottom-top">
  <span class="pc-bottom-top-left">
  <img  class="wanchengimg" src="../../../assets/img/wancheng.png" >您的订单已经提交，请在<span class="paytime">30</span>分钟内完成支付！支付剩余时间：<span class="paytime">29分25秒</span>
  </span>
  <span class="specilspan">订单号：15431654135481</span>
  <span class="pc-bottom-top-right" >￥1.00</span>
</div>
<div class="pc-bottom-bottom">
  <span class="paystyle">支付方式</span>
<div class="paybaby">
  <input type="radio"> <img  src="../../../assets/img/paybaby.png" >

</div>
  <div class="paybtncss">
    <span>支付金额：<span class="paytime">￥1.00元</span></span>
    <button class="btn paybtn">点我支付</button>
  </div>
</div>

