<div  class="comment">
  <div class="top">
    <div  class="author">
      <a href="" class="icon">
        <img src="./../../../assets/images/user_icon.jpg" alt="">
      </a>
    </div>
    <div class="informal">
      <a href="" class="name">雨碎江南</a>
      <br>
      <span>1楼</span>
      <span class="publish_date">2017-09-18</span>
    </div>
  </div>
  <div class="other-comment">初闻不知曲中意，再听已是曲中人。对于感情真的很羡慕你们的洒脱，看到你们的故事想起往事，
    可是自己却在回忆的门槛停了下来。。。。</div>
  <p><span class="glyphicon glyphicon-thumbs-up">4人赞</span>&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope">回复</span></p>
  <div>


  </div>
</div>
