<div class="pbg">
  <div class="paycontainer" style="height: 590px">
    <p class="user_id">用户名：<span>{{_user.user_name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收货地址：<span>{{checked_address}}</span></p>
    <div class="buy_step">
      <div class="step_img"></div>
    </div>
    <div class="content_body">
      <div class="order">
        <h4>
          <i class="fa fa-check-square fa-lg"></i>
          您的订单已提交，请在<span>30</span>分钟内完成支付！支付剩余时间：
          <span>{{m}} 分 {{s}} 秒</span>
        </h4>
        <p>订单号：{{order_numbering}}</p>
        <p class="price">￥{{price}}</p>
      </div>
      <div class="pay_way">
        <p>请选择支付方式</p>
        <input type="radio" name="pay_way" checked>
        <div class="pay_way_img">
          <img src="./../../assets/images/alipay.png" alt="">
        </div>
        <input type="radio" name="pay_way">
        <div class="pay_way_img">
          <img src="./../../assets/images/wxpay.png" alt="">
        </div>
      </div>
      <button class="buy" (click)="pay()">立即支付</button>
    </div>
  </div>
</div>






