<div class="pc-top">
  <div class="pay-step">
    <div  class="stepok">
      <img class="paybookimg" src="../../assets/img/Step ok.png" >
      <div class="stepline">
        <hr style="margin:0px;height:2px;border:0px;background-color:#76ACF8;color:#76ACF8;"/>
      </div>
      <span class="paybook">购买书籍</span>

    </div>
    <div  class="stepok">
      <img src="../../../../assets/img/Step%20ok.png" >
      <div class="stepline">
        <hr style="margin:0px;height:2px;border:0px;background-color:#DBDBDB;color:#DBDBDB;"/>
      </div>
      <span class="payconfirm">确认订单并支付</span>
    </div>
    <div  class="stepok">
      <img src="../../../../assets/img/Step%20.png" >
      <span class="paysuccess">支付成功</span>
    </div>
  </div>
</div>
